<div class="alert alert-danger" role="alert" ng-hide="error_message === undefined">
    <div ng-repeat="message in error_message">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{message[0]}}
    </div>
</div>
<form class="form" ng-submit="responder()">
    <fieldset>
        <legend>{{problema.titulo}}</legend>
    </fieldset>
    <div class="form-group">
        <textarea class="form-control msd-elastic" ng-model="problema.descricao" readonly=""></textarea>
    </div>
    <div class="form-group" ng-repeat="resposta in problema.respostas">
        <hr>
        <label>Resposta {{resposta.id}}</label> 
        <!--div class="pull-right">
            <a title="Responder" ng-click=""><i class="glyphicon glyphicon-trash"></i></a>
        </div -->
        <textarea class="form-control msd-elastic" ng-model="resposta.descricao" readonly=""></textarea>
    </div>
    <div class="form-group" ng-if="problema.status.id === 1">
        <hr>
        <label>Responder</label>
        <textarea class="form-control msd-elastic" ng-model="problema.resposta"></textarea>
    </div>
    <div class="pull-right">
        <a ui-sref="problemasIndex" class="btn btn-primary">Voltar</a>
        <button type="submit" ng-if="problema.status.id === 1" class="btn btn-primary">Responder</button>
    </div>
</form>     
