<fieldset>
    <legend>Lista de Usuários</legend>
</fieldset>
<div class="alert alert-danger" role="alert" ng-hide="error_message === undefined">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error_message}}
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Usuários {{users.length}}</h4>
        <a class="btn btn-sm btn-success btn-table" ui-sref="usersNew">Novo Usuário</a>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th><a href="" ng-click="campoOrdenado = 'id'; ordemType=!revordemTypeerso">#</a></th>
                        <th><a href="" ng-click="campoOrdenado = 'nome_completo'; ordemType=!ordemType">Nome</a></th>
                        <th><a href="" ng-click="campoOrdenado = 'email'; ordemType=!ordemType">Email</a></th>
                        <th><a href="" ng-click="campoOrdenado = 'perfil.descricao'; ordemType=!ordemType">Perfil</a></th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users | filter:searchInput | orderBy:campoOrdenado:ordemType">
                        <td>{{user.id}}</td>
                        <td><i class="glyphicon glyphicon-user"></i> {{user.nome_completo}}</td>
                        <td><i class="glyphicon glyphicon-envelope"></i> {{user.email}}</td>
                        <td>{{user.perfil.descricao}}</td>
                        <td>
                            <a class="btn btn-sm btn-default" ui-sref="usersShow({id:user.id})"><i class="glyphicon glyphicon-eye-open"></i></a>
                            <a class="btn btn-sm btn-default" ui-sref="usersEdit({id:user.id})"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a class="btn btn-sm btn-danger" ng-click="setUserToDestroy(user.id)" data-toggle="modal" data-target="#modal_confirmacao"><i class="glyphicon glyphicon-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="modal_confirmacao" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="gridSystemModalLabel">Confirmaç~ao</h4>
            </div>
        <div class="modal-body">
            <h3>Deseja excluir esse Usuario?</h3>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">N~ao</button>
            <a class="btn btn-sm btn-danger" data-dismiss="modal" ng-click="destroy({id: user_to_destroy})">Sim</a>
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
